{% load static %}
<nav class = "navbar navbar-expand-sm bg-light">
	<ul class="navbar-nav">
		<li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab4:home' %}">Beranda</a></div></li>
		<li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "#">Pendidikan</a></div></li>
		<li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "#">Kemampuan</a></div></li>
		<li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "#">Pengalaman</a></div></li>
		<li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab4:register' %}">Register Akun</a></div></li>
	</ul>
</nav>