{% load static %}
<html>
	<head>
		<!-- BOOSTRAP -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		
		<title>My First Project</title>
	</head>
	<body>
		{% include "navi.html" %}
		<br>
		<form>
			<div class="form-group" style = "margin-left : 20px">
				<label>Nama</label>
				<input type = "text" class="form-control">
			</div>

			<div class="form-group date" style = "margin-left : 20px">
				<label>Tanggal</label>
				<input type = "date" class="form-control">
			</div>
			
			<div class="form-group" style = "margin-left : 20px">
				<label>Email</label>
				<input type = "email" class="form-control">
			</div>
			
			<div class="form-group" style = "margin-left : 20px">
				<label>Username</label>
				<input type = "text" class="form-control">
			</div>
			
			<div class="form-group" style = "margin-left : 20px">
				<label>Password</label>
				<input type = "password" class="form-control">
			</div>
			
			<div class="form-group" style = "margin-left : 20px">
				<label>Konfirmasi Pasword</label>
				<input type = "password" class="form-control">
			</div>
			
			</br>
			<button type="submit" class="btn btn-primary" style = "margin-left : 20px">Submit</button>
		</form>
	</body>
</html>