{% load static %}
<html>
	<head>
		<!-- BOOSTRAP -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		
		<title>My First Project</title>
	</head>
	<body>
		{% include "navi.html" %}
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-sm-4">
					<p style = "width : 100%; height : 3vw"></p>
					<div class = "row">
						<div class = "col-sm-1"></div>
						<div class = "col-sm-9">
							<img src = "{% static 'img/foto.jpg' %}" class = "img-fluid" alt = "Alfian Fuadi Rafli">
						</div>
					</div>
					
					<p style = "width : 100%; height : 2.7vw"></p>
					<div class = "row">
						<div class = "col-sm-1"></div>
						<div class = "col-sm-9">
							<a class="btn btn-primary btn-blocks btn-lg text-center" href = "https://drive.google.com/open?id=1urjl_SCXYwEWZyZgeNEgqi626AZD75l9" role="button" style = "width : 100%; font-size : 25; font-family : Consolas">UNDUH CV</a>
						</div>
					</div>
				</div>
				
				
				<div class = "col-sm-8">
					<div class = "ml-1">
						<p style = "width : 80%; height : 2.5vw"></p>
						<p style = "font-size : 40; font-family : Consolas">ALFIAN FUADI RAFLI
						<p style = "font-size : 25; font-family : Consolas">
							<br>Umur : 19
							<br>Alamat : Jl. Ambengan Batu II/31 Surabaya
							<br>No. Telefon : 082323779646
							<br>Email : alfianfuadi17@gmail.com
							<br>Website : alfianfuadi17.herokuapp.com	
							<p style = "width : 80%; height : 7.5vw"></p>
							<div class = "row">
								<div class = "col-sm-2 text-center"><a href = "https://web.facebook.com/alfian.fuady.9?_rdc=1&_rdr"><img src = "{% static 'img/fb.png' %}" alt = "Facebook" style = "width : 50%; height : 70"></a></div>
								<br><br><br><br>
								<div class = "col-sm-2 text-center"><a href = "https://twitter.com/alfianfuady"><img src = "{%static 'img/twitter.png'%}" alt = "Twitter" style = "width : 50%; height : 70"></a></div>
								<br><br><br><br>
								<div class = "col-sm-2 text-center"><a href = "#"><img src = "{%static 'img/in.png'%}" alt = "Linkedin" style = "width : 50%; height : 70"></a></div>
								<br><br><br><br>
								<div class = "col-sm-2 text-center"><a href = "https://plus.google.com/100444775065017737259"><img src = "{%static 'img/ig.png'%}" alt = "Instagram" style = "width : 50%; height :70"></a></div>	
								<br><br><br><br>
								<div class = "col-sm-2 text-center"><a href = "https://www.instagram.com/alfianfuadi17/"><img src = "{%static 'img/g+.png'%}" alt = "Google Plus" style = "width : 50%; height : 70"></a></div>
							</div>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>		