{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>My First Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    {% include "navi.html" %}
    <div class="main-div">
        <div class="container">
            <br>
            <h1 style="text-align: center; font-family : Consolas" class="text-main">My Schedule</h1>
            <hr>
            <div id="list" class="container mx-auto d-block">
                {% if data|length > 0%}
                <table class="table table-hover table-bordered table-striped table-red" align="center" style="text-align: center">
                    <thead>
                        <tr>
                            <th scope="col">Activities</th>
                            <th scope="col">Place</th>
                            <th scope="col">Category</th>
                            <th scope="col">Date, Time</th>
                        </tr>
                    </thead>
                    {% for item in data %}
                        <tr>
                            <td scope="row">{{ item.activity }}</td>
                            <td scope="row">{{ item.location }}</td>
                            <td scope="row">
                                {% if item.category %}
                                    {{ item.category }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td scope="row">
                                {{ item.date|date:"l" }}, {{ item.date }}
                            </td>
                            <!-- <td scope="row">
                                <button>delete</button>
                            </td> -->
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h1 class="text-main" style = "font-family : Consolas">There is no activity.</h1>
                {% endif %}
                <br>
                <form action={% url 'lab5:delete_all' %} method="POST" align="center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Hapus</button>
                </form>
            </div>
        </div>
    </div>
</body>