{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My First Project</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	</head>

	<body>
		{% include "navi.html" %}
		<div id="form" class="container">
			<br>
		    <h1 style="text-align: center; font-family : Consolas">Add Schedule</h1>
		    <hr>
		    <div class="row">
		    	<div class="col-sm-3">
		    		
		    	</div>

		    	<div class="col-sm-6">
		    		<br>
				     <form action={% url 'lab5:add_activity' %} method="POST">
				        {% csrf_token %}
				        {{ form.as_p }}
				     	<button type="submit" class="btn btn-primary">Submit</button>
				    </form>	
				    <br>
		    	</div>

		    	<div class="col-sm-3">
		    		
		    	</div>
		    </div>
		</div>	
	</body>	
</html>