<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
	<h1>PROFIL DIRI SENDIRI</h1>
	<img src = "http://www.about.tarung2017.com/foto/703.jpg" height = "350" width = "600">
    <p>Nama : {{ name }} <br/> </p>
    <p>NPM : {{ npm }}</p>
	<p>Tempat Kuliah : {{ tk }}</p>
	<p>Hobi : {{ hobi }}</p>
    <p>Desc : Saya hampir berumur {{ age }} tahun. Saya berasal dari Surabaya.</p>

	<h1>PROFIL TEMAN YANG DUDUK DI DEPAN</h1>
	<img src = "http://www.about.tarung2017.com/foto/505.jpg" height = "350" width = "600">
    <p>Nama : Ardanto Finkan Septa <br/> </p>
    <p>NPM : 1706039736 </p>
	<p>Tempat Kuliah : Fasilkom UI</p>
	<p>Hobi : Sepak Bola</p>
    <p>Desc : Ardanto hampir berumur 19 tahun. Ardanto berasal dari Tangerang.</p>
	
	<h1>PROFIL TEMAN YANG DUDUK DI BELAKANG</h1>
	<img src = "http://www.about.tarung2017.com/foto/636.jpg" height = "350" width = "600">
    <p>Nama : Yaumi Alfadha <br/> </p>
    <p>NPM : 1706023031 </p>
	<p>Tempat Kuliah : Fasilkom UI</p>
	<p>Hobi : Sepak Bola</p>
    <p>Desc : Yaumi berumur 19 tahun. Yaumi berasal dari Jakarta.</p>

</body>

</html>
